<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Artifacts Table
      </div>
      <div class="card-body">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Name</th>
              <th>Username</th>
              <th>Original Name</th>
              <th>Path</th>
              <th>Data Type</th>
              <th>Size</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let artifact of artifacts | async">
              <td><a popover="ID: {{artifact.key}}"
                     [outsideClick]="true"
                     triggers="mouseenter"
                     class="link"
                     routerLink="/artifacts/detail/{{artifact.key}}"
                  >{{artifact.name}}</a></td>
                  <td>{{artifact.username}}</td>
              <td>{{artifact.original_name}}</td>
              <td>{{artifact.path}}</td>
              <td>{{artifact.data_type}}</td>
              <td>{{artifact.size}}</td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <button routerLink="/artifacts/create" class="ml-3 btn btn-primary">Create Artifact</button>
        </div>
      </div>
    </div>
  </div>
</div>
