<div class="container invoice">
  <div class="invoice-header">
    <div class="row">
      <div class="col-xs-8">
        <h1>Artifact Details <small>mostly made up</small></h1>
        <h5 class="text-muted">
          NO: {{ artifactId$ | async }} | Date: {{ today() | date }}
        </h5>
      </div>
      <div class="col-xs-4">
        <div class="media">
          <div class="media-left">
            <img class="media-object logo" src="/assets/img/brand/logo.svg" />
          </div>
          <ul class="media-body list-unstyled">
            <li>
              <strong>{{ tenantName() }}</strong>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="invoice-body">
    <div class="row">
      <div class="card">
        <div class="card-header">
          <h3>Artifact</h3>
        </div>
        <table class="table table-bartifacted table-responsive no-bottom-margin">
          <thead>
            <tr>
              <th class="text-center colfix">File Name</th>
              <th class="text-center colfix">Original Name</th>
              <th class="text-center colfix">Path</th>
              <th class="text-center colfix">Data Type</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let artifact of [artifact$] | async">
              <td class="nowrap">
                {{ artifact.name }}
                <br />
              </td>
              <td class="text-right">
                <span class="mono">{{ artifact.original_name }}</span>
              </td>
              <td class="text-right">
                <span class="mono">{{ artifact.path }}</span>
              </td>
              <td class="text-right">
                <span class="mono">{{ artifact.data_type }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
    </div>
    <div class="row">
      <div class="col-xs-7">
        <div class="card">
          <div class="card-body">
            <i>Comments / Notes</i>
            <hr style="margin: 3px 0 5px" />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
            repudiandae numquam sit facere blanditiis, quasi distinctio ipsam?
            Libero odit ex expedita, facere sunt, possimus consectetur dolore,
            nobis iure amet vero.
          </div>
        </div>
      </div>
    </div>
    <div class="invoice-footer">
      Thank you for choosing the EKS Reference Architecture.
      <br />
      We hope to see you again soon
      <br />
      <strong>AWS</strong>
    </div>
  </div>
</div>
