/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@font-face {
  font-family: codewallet-logo-font;
  src: local("OPTIOpus"), url("../fonts/OPTIOpus.otf") format("truetype");
  font-weight: bold;
}

.page-panel {
  position: absolute;
  left: 256px;
  right: 0px;
  min-height: 500px;
  top: 64px;
}

.page-panel.login-page {
  left: 0px;
  bottom: 0px;
}


.uppy-Dashboard-inner {
  border: none !important;
}

.uppy-Dashboard-AddFiles-title {
  font-weight: 500;
  font-size: 12px !important;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.uppy-Dashboard-AddFiles-title button::before {
  content: '';
  width: 64px;
  height: 64px;
  background: url("../icons/upload_icon.svg");
  position: absolute;
  left: calc(50% - 4px);
  top: calc(50% - 60px);
  transform: translate(-50%, -50%);
}

.uppy-Dashboard-AddFiles-title button {
  color: #000000;
  font-weight: bold !important;
  position: absolute;
  text-decoration: underline;
  left: 50%;
  top: calc(50% + 12px);
  transform: translate(-50%, -50%);
}

.uppy-Dashboard-AddFiles-title button:hover {
  border-bottom: none !important;
  font-size: 12px !important;
}

.search-field {
  border-radius: 0px;
}

#modal-add-user-description {
  margin-top: 2px;
}

.page-panel #add-user {
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 50px;
  height: inherit;
}

.user-table-head {
  user-select: none;
  color: #86898A !important;
}

.user-table-head.allow-order {
  cursor: pointer;
}

.user-table-head.selected,
.user-table-head.allow-order.selected svg {
  color: black !important;
}

.user-table-head.allow-order svg {
  position: relative;
  top: 7px;
}